[[headers]]
  for = "/*.tsx"
  [headers.values]
    Content-Type = "text/javascript"

[[headers]]
  for = "/*.ts"
  [headers.values]
    Content-Type = "text/javascript"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200